/* Fonts */


@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lalezar&family=Liter&display=swap');


/* Fonte lalezar */
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&family=Liter&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.white {
    color: white;
}

.d-none {
    display: none;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
}

.mobile-content {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
}

footer .nav-bar {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
}

footer .nav-bar img {
    width: 24px;
    height: 24px;
    margin-bottom: 0.2rem;
}

footer .nav-bar .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
}

.align-center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card-form {
    display: flex;
    width: 100%;

    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

/* Login */

.login-background {
    background: linear-gradient(to bottom   , #C70000 20%, #FFFFFF 70%);
    height: 100%;
}


.container-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-button {
    align-self: self-end;
    padding-right: 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    color: rgb(196, 4, 4);
    cursor: pointer;
}


.title-loginPage {
    padding-top: 5rem;
    text-align: center;
}

.rcl {
    font-size: 3rem;
    font-family: "Lalezar", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-login-dark {
    background-color: #383838;
    padding: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 255, 255);
}

.btn-login-white {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    border: 1px solid black;
}

.input-login {
    background-color: #383838;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 255, 255);
}

.input-register {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: 700;
    border: 1px solid #383838;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group .input{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
}



.card-login {
    min-height: 60%;
    width: 100%;
    

    border-radius: 2rem 2rem 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #383838;
}

.card-login p {
    text-align: aling;
    align-self: right;
}

.form-login {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 1rem;
}

.form-register {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 1rem;
}

.card-register {
    min-height: 60%;
    width: 100%;

    border-radius: 2rem 2rem 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

/* Login cabo */

/* Home bem feito top 10 coisas do mundo eiin */

/* header */

.background-header {
    background-color:  #C70000;
    padding: 0rem 0.5rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

.nav-bar-header {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.self-service-preview {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    padding: 0 1.5rem;
    width: 100%;
}

.main-home {
    z-index: -1;
    padding-top: 4rem;
    position: absolute;
    background-color: #F2F2F2;
}

.self-service-preview p {
    font-weight: 700;
    font-size: 1rem;
    color: #4E4E4E;
}

.self-service-preview .text {
    align-items: center;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1rem;
}

.self-service-inputs {
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;   
}

.self-service-inputs div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.self-service-inputs input, .result-content {
    border: 1px solid #C4C4C4;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.result-content {
    background-color: #FFFFFF;
    min-height: 80px;
    display: flex;
    justify-content: center;
}

.result-content p {
    font-weight: 700;
    font-size: 2rem;
    color: #4E4E4E;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.categories {
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
    gap: 1rem;
    overflow-x: auto;
    flex-direction: column;
}

.categories .salgado{
    background-color: #CC5D0D;
}
.categories .bebida{
    background-color: #B30F0F;
}
.categories .lanche{
    background-color: #78451C;
}
.categories .doce{
    background-color: #340C61;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.caregory-card-content {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.category-card {
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
    height: 80px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}